.detailp{
    width: 90vw;
    margin: 3px auto;
    height: fit-content;
    display: flex;
    justify-items: center;
    flex-direction: column;
    background-color: #fff;
}
.detailp h3{
    text-align: center;
    text-shadow: black;
}

.maindiv{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #fff !important;
    gap: 20px;
    padding: 20px;
}

#imgdiv{
    padding: 10px;
    color: white;
    width: 70vw;
    border-radius: 8px;
    box-shadow: 0 0 50px #ccc;

}
.content{
    display: flex;
    flex-direction: column;
    gap: 3px;
    max-width: 90%;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.feeditem {
    background-color: #d5d5d5;
    border-radius: 5px;
    margin: 15px;
    padding: 10px;
    max-width: 18rem;
}
.feeditem p{
    background-color: transparent;
}
.otherproducts{
    display: flex;
    flex-direction: row;
    overflow: hidden;
    justify-content: center;
    flex-wrap: wrap;
}
input{
    border: none;
    height: 22px;
    margin-top: 0;;
    margin-bottom: 10px;
    background-color: #d7d7d7;
}
.Okshare{
    font-weight: 200;
    display: flex !important;
    flex-direction: row;
    background-color: #d7d7d7 !important;
    border-radius: 5px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: black !important ;
    flex-wrap: wrap;
    max-width: 70vw;
}
.sharemessage{
    background-color: white !important;
    padding: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    height: fit-content;
    width: 40%;
    align-self: center;
    font-family: sans-serif;
    border-radius: 5px;
    overflow-x: scroll;
}
.sharebutton{
    padding: 20px;
    padding-top: 40px;
    border-radius: 5px;
    padding-bottom: 40px;
    overflow-wrap: normal;
    height: fit-content;
    width: 40%;
}