p{
    background-color: white !important ;
}

.footercard {
    background-color: white !important ;
    padding: 10px;
    border-radius: 6px;
    max-width: 300px;
}

.footerlogo{
    display: flex;
    gap: 9px;
    background-color: transparent;
}
.footerlogo h1{
    background-color: transparent;

}