div.footer{
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;
    justify-content: space-around;
    margin-bottom: 60px  !important ;
    margin: 10px;
}
.footercarddiv{
    border-radius: 2px;
}

.footerlinks{
    line-height: 2px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    font-weight: lighter;
}
h4{
    color: #626262;
}
.footersocial{
    margin: 0;
    text-align: right;
}