p{
    background-color: white !important ;
    margin: 0;
}

.footercard {
    background-color: white !important ;
    padding: 10px;
    border-radius: 6px;
    max-width: 300px;
}

.footerlogo{
    display: flex;
    gap: 9px;
    background-color: transparent;
    border-radius: 3px;
}
.footerlogo h1{
    background-color: transparent;
    margin: 2px;

}
.footlog{
    position: relative;
    color: white !important;
    background-color: transparent;
    background: none;
}