.header{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: #7d7d7d;
    padding: 5px;
}

.mainhead{
    display: flex;
    margin-left: 0px;
    gap: 29px;
    align-items: center;
    background-color: transparent;

}
.mainhead h3{
    background-color: transparent;
    color: #7d7d7d;
    text-decoration: unset;
    cursor: pointer;
}
.icons {
    display: flex;
    gap: 9px;
}
.icons i, .icons i {
    border-radius: 50%;
    height: 30px;
    text-align: center;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #fff !important;
    border-bottom: 2px solid transparent;
    border-right: 2px solid transparent;
}

.icons i:hover{ 
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    transition: 0.2s;
    border-radius: 50%;
}
