.maincontent{
    width: 90vw;
    margin: 3px auto;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.postdiv{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
